<div style="display:grid;grid-template-columns:1fr;grid-gap:4px;border:solid 1px #646464;border-radius:4px;margin:3px;padding:3px 6px 3px 6px; margin: 3px 0px 3px 0px;font-size:.8em;color:#ababab;">
    <div style="font-size:.8em;"><%= typeof displayName !== 'undefined' ? displayName : '' %></div>
    <div>
        <div style="font-size:.8em;"><%= typeof dateTime !== 'undefined' ? dateTime : '' %></div>   
    </div>            
</div>