<div style="font-size:.8em;color:white;position:relative;top:7px;display:grid;grid-template-columns:45fr 45fr 10fr;">
    <div style="color:#ababab">bid&nbsp;<span><%= typeof bid !== 'undefined' ? bid : '' %></span></div>
    <div style="color:#ababab">ask&nbsp;<span><%= typeof ask !== 'undefined' ? ask : '' %></span></div>
    <div style="color:rgb(10, 196, 10)"><%= typeof percentChange !== 'undefined' ? percentChange : '' %></div>
</div>