<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 4px; border: 1px solid rgb(100, 100, 100); border-radius: 4px; margin: 3px; padding: 3px 6px; color: white; ">
    <div style="font-size:.7em;color:#ababab;"><%= typeof displayName !== 'undefined' ? displayName : '' %></div>
    <div style="font-size:.7em;color:#ababab;"><%= typeof priceLevel !== 'undefined' ? priceLevel : '' %></div> 
    <div style="font-size:.9em;grid-column: 1 / span 2;padding-right:3px;margin-right:3px;">    
        <div style="text-align:right"><%= typeof priceLevelDiff !== 'undefined' ? priceLevelDiff : '' %></div>
    </div>            
</div>